
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">
    <h2>Hakkında</h2>

    <p>
        1995 İstanbul doğumlu olan Muhammed İhsan Sayım, Lisans öğrenimini İstanbul Üniversitesi Bilgisayar Mühendisliği’nde devam ettirmektedir.
     
    </p>

    </div>