
@{
    ViewBag.Title = "Linkler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">
    <h2>Linkler</h2>
    <hr />


    <h4><b>Türkçe Kaynaklar C#</b></h4>
    <ul typeof="square">
        <li>http://www.msakademik.net/</li>
        <li>http://tr.wikipedia.org/wiki/C_Sharp_programlama_dili</li>
        <li>http://www.yazgelistir.com/Makaleler/1000000028.ygpx</li>
        <li>http://www.ceturk.com/</li>
        <li>http://www.csharpnedir.com/</li>
    </ul>
    <h4><b>Yabancı Kaynaklar C#</b></h4>
    <ul typeof="square">
        <li>http://www.msdn.microsoft.com/vcsharp/</li>
        <li>www.csharp-station.com/Tutorial.aspx</li>
        <li>csharpcomputing.com/Tutorials/TOC.htm</li>
        <li>www.functionx.com/csharp/index.htm</li>
        <li>www.publicjoe.f9.co.uk/csharp/tut.html</li>
        <li>www.csharpfriends.com/</li>
        <li>www.c-sharpcorner.com/</li>
        <li>www.dotnetspider.com/</li>
        <li>http://www.csharphelp.com/</li>
        <li>http://www.codeproject.com/</li>
    </ul>
    <h4><b>Türkçe Kaynaklar SQL</b></h4>
    <ul typeof="square">
        <li>http://www.verivizyon.com/</li>
        <li>http://tr.wikipedia.org/wiki/Microsoft_SQL_Server</li>
        <li>http://blog.verivizyon.com/ygozudeli/</li>
        <li>http://www.yazilimuzmani.com/</li>
    </ul>
    <h4><b>Yabancı Kaynaklar SQL</b></h4>
    <ul typeof="square">
        <li>http://www.microsoft.com/sqlserver/en/us/default.aspx</li>
    </ul>

</div>


